* { box-sizing: border-box; }

@font-face {
  font-family: 'Heroes Sans';
  src: url('HeroesSans-Regular.woff') format('woff');
}

body { margin: 0; }

canvas {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  display: block;
  -webkit-tap-highlight-color: transparent;
}